$primary-color: #8b64ed;
$primary-hover: #6950aa;
$accent-color: #ffcc00;
$complementary-color: #3498db;
$text-color: #ffffff;
$secondary-text-color: #a0a0a0;
$background-darker: #111111;
$background: #131313;
